html,
body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Kreon', "Lucida Bright", serif;
  height: 100%;
  padding: 100px 50px;
  width: 100%;
}

.intro {
  margin: auto;
  width: 500px;
}

.bar {
  display: inline-block;
  fill: paleturquoise;
}

#barChart {
  background-color: lightgoldenrodyellow;
  height: 250px;
  width: 600px;
}

#bubbleChart {
  background-color: lavenderblush;
  height: 250px;
  width: 600px;
}

.bubble {
  display: inline-block;
  fill: darkMagenta;
  fill-opacity: 0.5;
  stroke: black;
  stroke-weight: 1px;
}

