html,
body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Kreon', "Lucida Bright", serif;
  height: 100%;
  padding-left: 100px;
  padding-top: 50px;
  width: 100%;
}

.main-content {
  margin: auto;
  width: 300px;
}

.bar {
  display: inline-block;
  fill: paleturquoise;
}

#barChart {
  background-color: lightgoldenrodyellow;
  height: 250px;
  width: 600px;
}

